<!--页面左侧菜单栏-->
<div class="mainMenu" ng-controller="MainMenuController">
    <ul class="menuList">
        <li>
            <a href="#/issuer" class="menuListName">发行人管理</a>
            <!-- <ul>

            </ul> -->
        </li>
        <li>
            <a href="#/booking" class="menuListName">预约管理</a>
            <ul>
            </ul>
        </li>
        <li>
            <a href="#/fund" class="menuListName">资金管理</a>
            <ul>
                <li>
                    <a href="#/overview" class="theOverview">总览</a>
                </li>
                <li>
                    <a href="#/money" class="runningWater">资金流水</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/management" class="menuListName">内容管理</a>
            <ul>
                <li>
                    <a href="#/article" class="theArticle">文章管理</a>
                </li>
                <li>
                    <a href="#/baner" class="theBaner">首页Banner管理</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/users" class="menuListName">用户管理</a>
            <ul></ul>
        </li>
        <li>
            <a href="#/administrator" class="menuListName">管理员</a>
            <ul></ul>
        </li>
    </ul>
</div>